<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Films
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="!isdisplayInfo">
  <ion-segment (ionChange)="segmentChanged($event)" value="aVoir">
    <ion-segment-button value="aVoir">
      <ion-label>A VOIR</ion-label>
    </ion-segment-button>
    <ion-segment-button value="aVenir">
      <ion-label>A VENIR</ion-label>
    </ion-segment-button>
  </ion-segment>



  <div [ngSwitch]="tabFilms" *ngIf="!isdisplayInfo">
    <!-- Onglet a voir -->
    <ion-card *ngSwitchCase="'aVoir'">
        <ion-row>
          <!-- Affiche tous les films à voir -->
          <ion-col size="4" *ngFor="let film of listeFilmsAVoir">
            <img  src="{{film.source}}" (click)="displayInfo(film.id)" />
          </ion-col>
          <h5 *ngIf="tabListeFilms != null">Listes des films (par l'id) {{tabListeFilms}}</h5>
        </ion-row>
    </ion-card>

    <!-- Onglet a venir -->
    <ion-card *ngSwitchCase="'aVenir'">
      <ion-card-header>
        Films a venir...
      </ion-card-header>
      <ion-card-content>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<!-- Affichage des détails du film -->
<ion-content *ngIf="isdisplayInfo" [fullscreen]="true" >
  <ion-card *ngFor="let film of listeFilmsAVoir">
    <div *ngIf="currentFilmToDisplay === film.id">
      <img src="{{film.source}}" />
      <ion-card-header>
        <ion-card-title>{{film.titre}}</ion-card-title>
        <ion-card-subtitle>{{film.date}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        blablabla
      </ion-card-content>
    </div>
  </ion-card>
  <ion-button (click)="undisplayInfo()" color="danger" shape="round" expand="full">Retour</ion-button>
</ion-content>
