<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Découvrir
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="!isdisplayInfoFilm && !isdisplayInfoSerie" [fullscreen]="true">

  <ion-searchbar></ion-searchbar>
  <h1>Films</h1>
  <div *ngFor="let film of listeFilms">
    <ion-item (click)="displayInfoFilm(film.id)">
      <ion-label>
          <img src="{{film.source}}" />
      </ion-label>
    </ion-item>
  </div>

  <h1>Séries</h1>
  <div *ngFor="let serie of listeSeries">
    <ion-item (click)="displayInfoSerie(serie.id)">
      <ion-label>
          <img src="{{serie.source}}" />
      </ion-label>
    </ion-item>
  </div>
  
</ion-content>

<ion-content *ngIf="isdisplayInfoFilm" [fullscreen]="true">

  <ion-card *ngFor="let film of listeFilms">
    
    <div *ngIf="currentFilmToDisplay === film.id">
      <img src="{{film.source}}" />
      <ion-card-header>
        <ion-card-title>{{film.titre}}</ion-card-title>
        <ion-card-subtitle>{{film.date}} ‧ {{film.duree}} ‧ {{film.type}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{film.synopsis}}
      </ion-card-content>
      <div *ngFor="let acteur of film.acteurs">
        <h3>{{acteur}}</h3>
      </div>
    </div>

  </ion-card>
  <ion-button (click)="undisplayInfoFilm()" color="danger" shape="round" expand="full">Retour</ion-button>
  
</ion-content>

<ion-content *ngIf="isdisplayInfoSerie" [fullscreen]="true">

  <ion-card *ngFor="let serie of listeSeries">
    
    <div *ngIf="currentSerieToDisplay === serie.id">
      <img src="{{serie.source}}" />
      <ion-card-header>
        <ion-card-title>{{serie.titre}}</ion-card-title>
        <ion-card-subtitle>{{serie.date}} ‧ {{serie.duree}} ‧ {{serie.type}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{serie.synopsis}}
      </ion-card-content>
      <div *ngFor="let acteur of serie.acteurs">
        <h3>{{acteur}}</h3>
      </div>
    </div>

  </ion-card>
  <ion-button (click)="undisplayInfoSerie()" color="danger" shape="round" expand="full">Retour</ion-button>
  
</ion-content>


